.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 399px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 55px auto 55px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 289px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 399px;
}

.u-section-2 .u-list-1 {
  min-height: 375px;
  margin-top: 10px;
  margin-bottom: 14px;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-rows: 100%;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  background-image: url("images/excavaciones-moll-maquinaria-pesada-6.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-2 {
  background-image: url("images/excavaciones-moll-plataforma-con-maquinaria-pesada.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-3 {
  background-image: url("images/excavaciones-moll-maquinaria-pesada-3.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-4 {
  background-image: url("images/excavaciones-moll-maquinaria-pesada-6.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-5 {
  background-image: url("images/excavaciones-moll-maquinaria-pesada-3.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-6 {
  background-image: url("images/excavaciones-moll-maquinaria-pesada-6.jpg");
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-list-item-7 {
  animation-duration: 1000ms;
}

.u-section-2 .u-image-7 {
  background-image: url("images/excavaciones-moll-plataforma-con-maquinaria-pesada.jpg");
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}